@using ViewModels.User
@model ApplicationUserViewModel
@{
    ViewData["Title"] = "Přihlášení";
}

<div class="d-flex flex-row justify-content-center mt-5">
    <div class="card shadow-sm p-4 bg-secondary-subtle" style="width: 400px;">
        <div class="text-center mb-4">
            <h4>Přihlaste se ke svému účtu</h4>
        </div>

        @if (ViewBag.LoginFailed != null && (bool)ViewBag.LoginFailed)
        {
            <div class="alert alert-danger text-center text-wrap">
                Neplatné přihlašovací údaje. Zkuste to prosím znovu.
            </div>
        }

        <form method="post" asp-action="Login">
            <div class="mb-3">
                <label asp-for="Email" class="form-label fw-bold">Email</label>
                <input asp-for="Email" class="form-control" required placeholder="Zadejte email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label fw-bold">Heslo</label>
                <input name="password" asp-for="Password" type="password" class="form-control" required placeholder="Zadejte heslo">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="d-flex flex-column gap-2 mt-3">
                <button type="submit" class="btn btn-primary w-100">Přihlásit</button>
                <div>
                    <a asp-controller="Access" asp-action="Register" class="btn btn-secondary w-50">Registrovat</a>
                    <a asp-controller="Access" asp-action="Reset" class="btn btn-secondary w-50">Zapomenuté heslo</a>
                </div>
            </div>
        </form>
    </div>
</div>
