@using Models.Users
@using ViewModels.User
@model ApplicationUserViewModel
@{
    ViewData["Title"] = "Registrace";
}

<div class="d-flex flex-row justify-content-center mt-5">
    <div class="card shadow-sm p-4 bg-secondary-subtle" style="width: 400px;">
        <div class="text-center mb-4">
            <h4>Vytvořte nový účet</h4>
        </div>

        @if (ViewBag.RegisterFailed != null && (bool)ViewBag.RegisterFailed)
        {
            <div class="alert alert-danger text-center text-wrap">
                Neplatné údaje. Zkuste to prosím znovu.
            </div>
        }

        <form method="post" asp-action="Register">
            <div class="mb-3">
                <label asp-for="UserName" class="form-label fw-bold"></label>
                <input asp-for="UserName" class="form-control" placeholder="Zadejte jméno (volitelné)">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label fw-bold"></label>
                <input asp-for="Email" class="form-control" required placeholder="Zadejte email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label fw-bold"></label>
                <input asp-for="Password" type="password" class="form-control" required placeholder="Zadejte heslo">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserType" class="form-label fw-bold"></label>
                <select name="role" class="form-select" required>
                    <option value="">Vyberte roli</option>
                    @foreach (var role in Enum.GetValues(typeof(UserType)))
                    {
                        <option value="@role">@role.ToString()</option>
                    }
                </select>
                <span asp-validation-for="UserType" class="text-danger"></span>
            </div>

            <div class="d-flex flex-column gap-2 mt-3">
                <button type="submit" class="btn btn-primary w-100">Registrovat</button>
                <a asp-controller="Access" asp-action="Login" class="btn btn-secondary w-100">Přihlášení</a>
            </div>
        </form>

    </div>
</div>
