@{
    ViewData["Title"] = "Reset hesla úspěšný";
}

<div class="d-flex flex-row justify-content-center mt-5">
    <div class="card shadow-sm p-4 bg-secondary-subtle" style="width: 400px;">
        <div class="text-center mb-4">
            <h4 class="mt-2 text-success">Reset hesla úspěšný</h4>
            <p class="text-muted">Na váš email bylo odesláno vygenerované heslo.</p>
        </div>
        <div class="d-grid gap-2">
            <a asp-controller="Access" asp-action="Login" class="btn btn-primary">Přejít na přihlášení</a>
        </div>
    </div>
</div>
