.vs
.obj
/Database/bin
/Database/obj
/Helpdesk/bin
/Helpdesk/obj
/Models/bin
/Models/obj
/Services/bin
/Services/obj
/Tests/bin
/Tests/obj
/ViewModels/bin/Debug/net8.0
/ViewModels/obj/Debug/net8.0
/ViewModels/obj
