@using Microsoft.AspNetCore.Identity
@using Models.Navigation
@using Models.Users
@using Services.Abstractions
@using Services.Abstractions.Services
@inject INavigationService NavigationService
@inject IUserService UserService
@{
    bool showNavigation = true;
    bool showUserPanel = true;
	bool showSettings = true;
	bool showSearch = true;
	bool showThemeSwitch = true;
    Navigation? navigation = null;
    var currentUser = UserService.GetSignedInUser();

    showSearch = ViewBag.DisplaySearch ?? true;

    if (currentUser is null)
    {
        showUserPanel = false;
		showSettings = false;
		showSearch = false;
		showThemeSwitch = false;
    }
    else
    {
        if (User.IsInRole(UserType.Zadavatel.ToString()))
            navigation = await NavigationService.GetByRoleAsync(UserType.Zadavatel);
        else if (User.IsInRole(UserType.Řešitel.ToString()))
            navigation = await NavigationService.GetByRoleAsync(UserType.Řešitel);
        else if (User.IsInRole(UserType.Auditor.ToString()))
            navigation = await NavigationService.GetByRoleAsync(UserType.Auditor);
    }
    if (navigation is null) showNavigation = false;
}

<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap-5.3.3/dist/css/bootstrap.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/img/bootstrap-icons-1.13.1/bootstrap-icons.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Helpdesk.styles.css" asp-append-version="true" />
</head>
<body class="overflow-hidden">
    <div class="d-flex vh-100">
        <div id="navigation-sidebar" class="bg-primary d-flex flex-column overflow-y-scroll hide-scrollbar">
            <div class="flex-grow-1">
                <div> @* User panel *@
                    @if (showUserPanel)
                    {
                        @await Html.PartialAsync("~/Views/Shared/LayoutComponents/UserPanelPartial.cshtml", currentUser)
                    }
                </div>
                <div> @* Main navigation *@
                    @if (showNavigation)
                    {
                        @await Html.PartialAsync("~/Views/Shared/LayoutComponents/MainNavigationPartial.cshtml", (navigation, currentUser))
                    }
                </div>
            </div>
            <div> @* Shared navigation - Settings, Logout *@
            @if (showSettings)
            {
                <nav class="navbar d-block mb-1">
                    <ul class="nav nav-pills btn-toggle-nav d-flex flex-column mb-auto">
                        <li class="border-top mx-3 my-1"></li>
                        <li class="nav-item ms-2">
                            <a class="nav-link text-light d-flex align-items-center" asp-controller="Home" asp-action="UserSettings">
                                <i class="bi bi-person-gear text-white" style="font-size: 25px"></i>
                                <span class="mx-3">Nastavení</span>
                            </a>
                        </li>
                        <li class="border-top mx-3 my-1"></li>
                        <li class="nav-item ms-2">
                            <a class="nav-link text-light d-flex align-items-center" asp-controller="Access" asp-action="Logout">
                                <i class="bi bi-box-arrow-left text-white" style="font-size: 25px"></i>
                                <span class="mx-3">Odhlásit se</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            }
            </div>
        </div>
        <div class="flex-grow-1 d-flex flex-column">
            <div id="navigation-upperbar" class="bg-primary d-flex align-items-center justify-content-between" style="min-height:3rem">
                <div class="ms-3"> @* Search bar *@
                    @if (showSearch)
                    {
                        <form id="searchForm" class="input-group" role="search" asp-area="" asp-controller="Home" asp-action="Search">
                            <button type="submit" class="input-group-text bg-primary">
                                <i class="bi bi-search text-white" style="font-size: 18px"></i>
                            </button>
                            <input id="searchInput" name="search" role="search" class="form-control search rounded-end" placeholder="Hledání...">
                        </form>
                    }
                </div>
                <div class="mx-5"> @* Theme switch *@
					@if (showThemeSwitch)
                    {
                        <a class="" asp-area="" asp-controller="Home" asp-action="SwitchTheme">
                            @if (currentUser?.Theme == Theme.Dark)
                            {
                                <i class="bi bi-sun text-dark" style="font-size: 25px"></i>
                            }
                            else
                            {
                                <i class="bi bi-moon-stars text-white" style="font-size: 25px"></i>
                            }
                        </a>
                    }
                </div>
            </div>
            <div class="h-100 overflow-auto @(currentUser?.Theme == Theme.Dark ? "bg-dark text-light" : "bg-light text-dark")" style="white-space: nowrap;">
                <main id="main" class="p-4 overflow-auto" role="main" style="white-space: nowrap;">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
