@using Models.Tickets
@model Ticket
@{
    ViewData["Title"] = "Ticket Details";
}

@* <div class="w-75">
    @await Html.PartialAsync("~/Views/Shared/TicketComponents/TicketDetailPartial.cshtml", Model)
</div> *@

@await Html.PartialAsync("~/Views/Shared/TicketComponents/TicketDetailPartial.cshtml", Model)
