@model IReadOnlyCollection<Helpdesk.Models.Navigation.NavigationNode>
@{
    for (int k = 0; k < Model.Count; k++)
    {
        NavigationNode node = Model.ElementAt(k);
        <a class="" asp-area=@node.Route.Area asp-controller=@node.Route.Controller asp-action=@node.Route.Action>
            <h2 class="text-light h5 my-auto">@node.Data.DynamicName</h2>
        </a>
        if (k != Model.Count - 1)
        {
            <img class="invert-color mt-1 mx-3" src="@Url.Content("~/img/bootstrap-icons-1.11.3/arrow-right.svg")" alt="arrow" width="20" height="20" />
        }
    }
}
