@{
    ViewData["Title"] = "Stránka nenalezena";
}

<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="text-center">
        <i class="bi bi-exclamation-triangle text-warning" style="font-size: 50px;"></i>
        <h2 class="mt-4">Stránka nebyla nalezena</h2>
        <p class="lead text-muted">Zdá se, že stránka kterou hledáte neexistuje.</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg mt-4">
            Zpět na hlavní stránku
        </a>
    </div>
</div>
