@{
    ViewData["Title"] = "Přístup odepřen";
}

<div class="d-flex flex-row justify-content-center mt-5">
    <div class="card shadow-sm p-4 bg-secondary-subtle" style="width: 700px;">
        <div class="text-center my-4">
            <i class="bi bi-exclamation-triangle text-warning" style="font-size: 50px;"></i>
            <h3 class="mt-4">Přístup odepřen</h3>
            <p class="lead text-muted">Tuto stránku nemůžete zobrazit.</p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-2">
                Zpět na hlavní stránku
            </a>
        </div>
    </div>
</div>
