@{
    ViewData["Title"] = "Změny uloženy";
}

<div class="d-flex flex-row justify-content-center mt-5">
    <div class="card shadow-sm p-4 bg-secondary-subtle" style="width: 400px;">
        <div class="text-center mb-4">
            <h4 class="mt-2 text-success">Změny uloženy</h4>
        </div>
        <div class="d-grid gap-2">
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Zpět na hlavní stránku</a>
        </div>
    </div>
</div>