@{
    ViewData["Title"] = "Změny uloženy";
}

<div class="d-flex flex-row justify-content-center mt-5">
    <div class="card shadow-sm p-4 bg-secondary-subtle" style="width: 700px;">
        <div class="text-center my-4">
            <h3 class="text-success">Změny uloženy</h3>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-2">
                Zpět na hlavní stránku
            </a>
        </div>
    </div>
</div>